
// Typography
$font-family-sans-serif:	"Raleway", sans-serif;
$font-size-base:			0.9rem;
$line-height-base:			1.6;

// Border
$border-radius: 	0.5rem;
$border-radius-sm:	0.5rem;
$border-radius-lg:	0.5rem;

// Badge
$badge-padding-y:	0.3em;
$badge-padding-x:	0.5em;

// Button
$btn-padding-y:		0.35rem;
$btn-padding-x:		1rem;
$btn-padding-y-sm:	0.20rem;
$btn-padding-x-sm:	0.75rem;