
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.container-flexible {
	@include make-container();

	@include media-breakpoint-up(xl) {
		max-width: 1140px;
	}
}

.sidebar {
	height: 100%;
	left: inherit;
	right: inherit;
	display: none;

	@include media-breakpoint-up(lg) {
		display: block;
		width: 300px;
	}

	.nav-pills .nav-link.active,
	.nav-pills .show > .nav-link {
		background-color: initial;
		color: #a58837;
		border-left: 3px solid #a58837;
	}

	a {
		color: #c1c1c1;
	}

	a:hover {
		color: $light;
	}

	footer {
		position: absolute;
		bottom: 0;
		height: 60px; /* Set the fixed height of the footer here */
		line-height: 60px; /* Vertically center the text there */
	}
}

.content-wrapper {
	margin-left: 0;
	font-size: 1rem;

	@include media-breakpoint-up(lg) {
		margin-left: 300px;
	}
}

.bg-gray-dark {
	background-color: $gray-500;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	background-color: inherit;
	border-color: #dee2e6 #dee2e6 #ffffff;
}

.feather {
 	width: 16px;
 	height: 16px;
 	vertical-align: text-bottom;
 	margin-right: 8px;
}