
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "dashboard_variables";

// Color
@import "color/default";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: $gray-300;
}

::-webkit-scrollbar-thumb {
    background: $gray-600; 
}

::-webkit-scrollbar-thumb:hover {
    background: $gray-700; 
}

html {
	min-height: 100%;
}

hr {
	margin: 1.25rem 0;
}

#dashboard {
	background: linear-gradient(45deg, #cefefa 0, #b8b5fd 100%);
	color: #4c5865;
}

.navbar.sticky-top {
	height: 40px;
	background: linear-gradient(90deg, #00557d 0, #5e00a9 100%);
}

.feather.menu-icon {
	height: 30px;
    width: 30px;
}

.sidebar {
	width: 300px;
	z-index: 1010;
	background-color: #673AB7;
	height: 100%;
	left: inherit;
	right: inherit;
	display: block;
	margin-left: -300px;
	transition: all .3s;

	a {
		color: #c1c1c1;
	}

	a:hover {
		color: $light;
		background-color: rgba(255, 255, 255, 0.4);
	}

	.active {
		background-color: rgba(255, 255, 255, 0.2);
	}

	@include media-breakpoint-up(lg) {
		background-color: transparent;
		box-shadow: none;
		display: block;
		width: 300px;
		z-index: 99;
		margin-left: 0px;

		a {
			color: #545454;
		}

		a:hover {
			color: black;
		}
	}

	.nav-pills .nav-link.active,
	.nav-pills .show > .nav-link {
		background-color: initial;
		color: #a58837;
		border-left: 3px solid #a58837;
	}

	.feather-chevron-down {
		transition: .2s transform ease-in-out;
	}

	.collapsed {
		.feather-chevron-down {
			transform: rotate(90deg);
		}
	}
}

.sidebar.collapse.show {
	margin-left: 0px;
}

.overlay {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    opacity: 0;
    z-index: 10;
}

.overlay.show {
	opacity: 1;
}

.content-wrapper {
	font-size: inherit;
	width: 100%;
	padding: 1.5rem;

	@include media-breakpoint-up(md) {
		padding: 3rem;
	}
}

.media-modal {
	max-width: inherit;
	margin: 0 auto;

	@include media-breakpoint-up(xl) {
		max-width: 1200px;
	}

	.modal-content {
		border: 0;
	}

	.modal-header {
		min-height: 45px;
	}

	.modal-header,
	.nav-tabs {
		background-color: #dee4ef;
		border-bottom: 0;
	}

	.nav-tabs .nav-link {
		border: 0;
		padding: .3rem 1rem;
	}

	.nav-tabs .nav-item {
		margin-bottom: 0;
	}

	.nav-tabs .nav-link.active,
	.nav-tabs .nav-item.show .nav-link {
	    background-color: $light;
	}

	.page-link {
		.feather {
			height: 24px;
			width: 24px;
		}
	}
}

.modal-backdrop.show {
	opacity: 0.8;
}

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.container-flexible {
	@include make-container();

	@include media-breakpoint-up(xl) {
		max-width: 1140px;
	}
}

.content-wrapper {
	margin-left: 0;
	font-size: 1rem;

	@include media-breakpoint-up(lg) {
		margin-left: 300px;
	}
}

.bg-gray-dark {
	background-color: $gray-500;
}

.actions-wrapper {
	margin-right: 0;

	@include media-breakpoint-up(xl) {
		margin-right: 304px;
	}
}

.card {
	border: 0;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.card-header {
	background-color: rgba(0, 0, 0, 0.1);
}

.actions-meta {
	float: initial;
	margin-right: 0;
	width: 100%;

	@include media-breakpoint-up(xl) {
		float: right;
		margin-right: -304px;
		width: 280px;
	}

	.card-footer {
		padding: 1.25rem;
	}

	.taxo-category {
		max-height: 215px;
		overflow-y: auto;
		margin: 1rem;
		padding: .25rem;
	}

	.remove-tag {
		padding: 0;
		font-weight: bold;
		width: 18px;
		height: 18px;
		line-height: .9;
		font-size: 1.2rem;
	}
}

.actions-body {
	margin-right: 0;
	width: 100%;

	@include media-breakpoint-up(xl) {
		width: 100%;
		margin-right: 1.5rem;
	}
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	background-color: inherit;
	border-color: #dee2e6 #dee2e6 #ffffff;
}

.feather {
 	width: 18px;
    height: 18px;
    // padding-top: 2px;
 	vertical-align: text-bottom;
}

.feather-chevron-right {
	margin-top: 1px;
}

.uploader {
	border: 3px dashed $primary;
	border-radius: $border-radius;
	padding: 6rem;
}

.dz-drag-hover {
	border-style: solid;
	background-color: $light;
}

.media-checkbox {
	position: relative;
	background-color: $gray-300;
	overflow: hidden;
	cursor: pointer;

	.progress {
		box-shadow: 0 0 7px 2px #a2a2a2;
		margin-top: calc(50% - 10px);
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.media-thumbnail {
		overflow: hidden;
		position: absolute;
		object-fit: cover;
		width: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		opacity: 1;
		-webkit-transition: opacity .1s;
		transition: opacity .1s;
	}

	.media-overlay {
		position: absolute;
		margin: auto;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 0;
		width: 0;
		height: 0;
		border-color: transparent transparent transparent rgba(0, 0, 0, 0.7);
		border-style: solid;
		border-width: 18px 0 18px 30px;
	}
}

.media-checkbox.selected {
	box-shadow: 0 0 0px 5px $blue;
}

.media-checkbox:before {
	content: "";
	display: block;
	padding-top: 100%;
}

#library {
	.detail {
		img {
			max-height: 150px;
		}
	}
}

.border-pill {
	border-radius: 99999999rem;
}

div.mce-fullscreen {
	top: 39px !important;
}

.mce-tinymce, .mce-top-part::before {
	box-shadow: none !important;
	border: 0 !important;
}

.mce-content-body {
	line-height: 1.6rem !important;
	padding: 2rem;
	color: #495057;
}

.mce-branding {
	display: none !important;
}

.bottom-rounded-0 {
	border-color: #c5c5c5;
	border-bottom-right-radius: 0rem !important;
	border-bottom-left-radius: 0rem !important;
}

.top-rounded-0 {
	border-top: 0;
	border-color: #c5c5c5;
	border-top-right-radius: 0rem !important;
	border-top-left-radius: 0rem !important;
}

.right-rounded-0 {
	border-top-right-radius: 0rem !important;
	border-bottom-right-radius: 0rem !important;
}

.left-rounded-0 {
	border-top-left-radius: 0rem !important;
	border-bottom-left-radius: 0rem !important;
}

.pagination {
	.page-item {
		width: max-content;
	}
}

.index-thumbnail {
	max-width: 100px;
}

tbody {
	tr:hover {
		background: rgba(255, 255, 255, 0.4);
	}
}

.switch-control {
	position: relative;
    display: block;
    min-height: 1.6rem;
    padding-left: .2rem;
}

.switch-control-label {
    width: 1.9rem;
    height: .8rem;
    background: #a7a7a7;
    border-radius: 1rem;
    margin-bottom: 0;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.switch-control-input {
	position: absolute;
    z-index: -1;
    opacity: 0;
}

.switch-control-label:before {
    position: absolute;
    display: block;
    border-radius: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
    top: .2rem;
    left: 0;
    pointer-events: none;
    content: "";
    user-select: none;
    background-color: #dee2e6;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.65);
    transition: all .2s;
}

.switch-control-input:checked ~ .switch-control-label {
    background-color: #8dc4ff;
}

.switch-control-input:checked ~ .switch-control-label::before {
    background-color: #007bff;
    left: 1.1rem;
}

/* .custom-range {
	display: flex;
}

.custom-range-slider {
	appearance: none;
    width: 100%;
    height: .8rem;
    margin-top: 6px;
    border-radius: 1rem;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
    background: #8dc4ff;
    outline: none;
}

.custom-range-slider::-webkit-slider-thumb {
	appearance: none;
	width: 1.2rem;
    height: 1.2rem;
    border-radius: 1.2rem;
    background-color: #007bff;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.65);
    cursor: pointer;
}

.custom-range-slider::-mox-ramge-thumb {
	appearance: none;
	width: 1.2rem;
    height: 1.2rem;
    border-radius: 1.2rem;
    background-color: #007bff;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.65);
    cursor: pointer;
} */

.custom-range-text {
    width: 50px;
    height: 100%;
    position: relative;
    text-align: center;
    background: $primary;
    color: $light;
    border-radius: .5rem;
    margin-right: 10px;
}

#spinner {
	position: absolute;
    z-index: 20;
    margin-left: -25px;
    top: 9px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}